@model SistemaInventario.Modelos.ViewModels.ProductoVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Producto";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.Producto.Id != 0)
    {
        // Actualizar
        titulo = "Actualizar Producto";
        <input type="hidden" asp-for="Producto.Id" />
    }

    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>
    <div class="col-8 pt-4">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Producto.NumeroSerie"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.NumeroSerie" class="form-control" />
                <span asp-validation-for="Producto.NumeroSerie" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Producto.Descripcion"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Producto.Costo"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.Costo" class="form-control" />
                <span asp-validation-for="Producto.Costo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Producto.Precio"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Categoria
            </div>
            <div class="col-8">
                @Html.DropDownListFor(c => c.Producto.CategoriaId, Model.CategoriaLista,"Seleccione",
                 new {@class="form-control"} )
                <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Marca
            </div>
            <div class="col-8">
                @Html.DropDownListFor(c => c.Producto.MarcaId, Model.MarcaLista,"Seleccione",
                 new {@class="form-control"} )
                <span asp-validation-for="Producto.MarcaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Imagen
            </div>
            <div class="col-8">
                <input type="file" name="files" id="escogerImg" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Padre
            </div>
            <div class="col-8">
                @Html.DropDownListFor(c => c.Producto.PadreId, Model.PadreLista,"Seleccione",
                new {@class="form-control"} )
            </div>
        </div>
       

        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.Producto.Id != 0)
                {
                    <partial name="_BotonesActualizarYRegresar" model="Model.Producto.Id" />
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" onclick="return validarEntrada()" class="btn btn-primary form-control">Crear</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

    @if (Model.Producto.Id != 0)
    {
        <div>
            <img src="@Model.Producto.ImagenUrl" style="width:30%; border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    }

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validarEntrada(){
            if (document.getElementById("escogerImg").value == ""){
                swal("Error", "Seleccione una Imagen", "error");
                return false;
            }
            return true
        }
    </script>
}






