@model SistemaInventario.Modelos.ViewModels.CarroComprasViewModel
@{
    ViewData["Title"] = "ImprimirOrden";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <img src="@Model.Compañia.LogoUrl" class="rounded" width="250" height="200" />
        </div>
        <div class="col-sm-4">
            <label class="col-form-label" style="font-size:20px;">@Model.Compañia.Nombre</label>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-2">
            <label class="col-form-label" style="font-weight:bold; font-size:40px;">
                Order#
            </label>
        </div>
        <div class="col-2" style="border: none;">
            <label class="col-form-label" style="font-weight:bold; font-size:40px;">@Model.Orden.Id</label>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-2">
            <label class="col-form-label" style="font-weight:bold; font-size:20px;">
                Compañia:
            </label>
        </div>
        <div class="col-4" style="border: none;">
            <label class="col-form-label" style="font-size:20px;">@Model.Compañia.Nombre</label>
        </div>
        <div class="col-6" style="border: none;">
            <label class="col-form-label" style="font-size:20px;">@Model.Compañia.Direccion , @Model.Compañia.Ciudad , @Model.Compañia.Pais</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label class="col-form-label" style="font-weight: bold; font-size:20px;">Cliente:</label>
        </div>
        <div class="col-6">
            <label class="col-form-label" style="font-size:20px;">@Model.Orden.NombresCliente</label>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-2">
            <label class="col-form-label" style="font-weight: bold; font-size:20px;">Fecha Orden:</label>
        </div>
        <div class="col-6">
            <label class="col-form-label" style="font-size:20px;">@Model.Orden.FechaOrden</label>
        </div>
    </div>

    <div>
        <table class="table table-striped border" style="height:10px;">
            <thead class="thead-dark">
                <tr class="table-secondary thead-dark">
                    <th style="font-weight: bold; font-size:20px;">
                        Producto
                    </th>
                    <th style="text-align:right; font-weight: bold; font-size:20px;">
                        Precio
                    </th>
                    <th style="text-align:right; font-weight: bold; font-size:20px;">
                        Cantidad
                    </th>
                </tr>
            <thead>
            <tbody style="height:10px;">
                        @foreach (var item in Model.OrdenDetalleLista)
                        {
                    <tr>
                        <td style="font-size:20px;">
                                    @Html.DisplayFor(m => item.Producto.Descripcion)
                        </td>

                        <td style="text-align:right;font-size:20px;">
                                    @Html.DisplayFor(m => item.Precio)
                        </td>
                        <td style="text-align:right;font-size:20px;">
                                    @Html.DisplayFor(m => item.Cantidad)
                        </td>
                    </tr>

                        }

            </tbody>
        </table>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-8">
        </div>
        <div class="col-2">
            <label class="col-form-label" style="font-weight: bold;font-size:20px;">Total Orden:</label>
        </div>
        <div class="col-2" style="text-align:right; font-size:20px;">
            <label class="col-form-label">$@(Model.Orden.TotalOrden)</label>
        </div>
    </div>
</body>

</html>



